# -----------------------------
# Python Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python Cache Files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# VS Code Settings
# -----------------------------
.vscode/

# -----------------------------
# Environment Variables (IMPORTANT)
# -----------------------------
.env

# -----------------------------
# Database Files (if added later)
# -----------------------------
*.sqlite
*.db

# -----------------------------
# Streamlit Cache
# -----------------------------
.streamlit/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db